<div class="animate-fade-in-bottom flex flex-col gap-y-4 w-full h-full sm:px-60">
  <div class="flex flex-col-reverse items-center justify-center sm:flex-row gap-x-5 gap-y-3">
    <div class="flex flex-col gap-y-2">
      <div class="text-lg bold">
        Michael Eliot
      </div>
      <div>
        Full stack engineer building AI products
      </div>
      <div>
        @ San Francisco Bay Area, California
      </div>      
      <div class="flex flex-row gap-x-6">
        <a target="_blank" href="https://www.linkedin.com/in/michael-eliot/">
          <img class="bg-white rounded" width="50" height="50" src="https://img.icons8.com/ios/100/linkedin.png" alt="linkedin"/>
        </a>
        <a target="_blank" href="https://github.com/michaeleliot">
          <img class="bg-white rounded" width="50" height="50" src="https://img.icons8.com/ios/100/github--v1.png" alt="github--v1"/>
        </a>
        <a href="resume.pdf" target="_blank">
          <img class="bg-white rounded" width="50" height="50" src="https://img.icons8.com/ios/100/resume.png" alt="resume"/>
        </a>
        <a target="_blank" href="mailto:mieliot@protonmail.com">
          <img class="bg-white rounded p-1" width="50" height="50" src="https://img.icons8.com/ios/100/mail.png" alt="email"/>
        </a>
      </div>
    </div>
    <img class="justify-center bg-white rounded" width="150" height="150" src="profile.jpg" alt="Profile photo"/>
  </div>
  <div>
    <div class="text-xl font-semibold">
      About
    </div>
    <div class="mt-2">
      I'm a full stack engineer that builds business products around machine learning algorithms. I've worked on a wide variety of projects and teams, building out AI products that deliver real value to organizations. I excel at working with others to solve pressing business problems.
    </div>
  </div>
  <div>
    <div class="text-xl font-semibold">
      Work Experience
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">
      <%= render 'page/work' %>
    </div>
  </div>
  <div>
    <div class="text-xl font-semibold">
      Education
    </div>
    <div class="mt-2">
      <div class="flex justify-between">
        <h2 class="text-xl font-semibold">UC Berkeley</h2>
      </div>
      <div>
        Bachelor's degree in Computer Science, 2019
      </div>
    </div>
  </div>
  <div>
    <div class="text-xl font-semibold">
      Additional Projects
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">
      <%= render "page/card", name: "Evmos", title: "", year: "2022", description: "Helped build the web platform used to interface with the bridge between two major blockchain platforms, ethereum and cosmos. Discuss implementation strategy with founders.", skills: ["React"] %>
      <%= render "page/card", name: "Waffle House Index", title: "", year: "2021", description: "The Waffle House index uses the menu at the Waffle House to determine disaster affects. Short web project to learn mapbox that plotted all of the Waffle Houses as well as their menu.", skills: ["React", "Next.js", "Mapbox"] %>
      <%= render "page/card", name: "Environmental Blockchain", title: "", year: "2018 - 2019", description: "Project to enable carbon credits to be freely exchanged on the blockchain. Worked on the cutting edge of interfacing with blockchain technologies. Worked with MBA student to develop industry connections for use.", skills: ["React"] %>
      <%= render "page/card", name: "Seismic Simulation", title: "", year: "2017 - 2018", description: "Worked with professor in the geophysics department as well as a PhD student to use android devices to collect, analyze, and visualize seismic activity in urban environments. Used to showcase building movements during seismic activity.", skills: ["Java", "Android Studio"] %>
      <%= render "page/card", name: "BMUN iOS & Android Apps", title: "", year: "2016 - 2017", description: "Learned both iOS and Android coding to develop mobile applications for largest high school MUN conference on the west coast. Static apps to display basic conference information such as timeline information, map locations, and FAQs.", skills: ["Java", "Swift", "Android Studio", "Xcode"] %>
      <%= render "page/card", name: "Huxley", title: "", year: "2015 - 2016", description: "Berkeley Model United Nations web service to manage delegates including delegates turning in position papers, committee chairs submitting grades, and managing any alerts that need to go out to all committees.", skills: ["Django", "Python"] %>
    </div>
  </div>
</div>