<!DOCTYPE html>
<html>
  <head>
    <title>Michael Eliot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.1/lib/p5.js"></script>
    <script src="assets/sketch.js"></script>
  </head>

  <body class="h-dvh">
    <main class="h-full">
      <%= yield %>
    </main>
  </body>
</html>
