<!DOCTYPE html>
<html>
  <head>
    <title>Michael Eliot</title>
    <meta property="og:title" content="Michael Eliot's personal site" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.michaeleliot.net/" />
    <meta property="og:image" content="https://media.licdn.com/dms/image/C5603AQGihrB_fSMuCA/profile-displayphoto-shrink_800_800/0/1640025388235?e=1715212800&v=beta&t=vK1EH-0COTXIEGGjGFvWsYzzqlpJiIEfF_qlfuxlyG0" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.1/lib/p5.js"></script>
    <script src="assets/sketch.js"></script>
  </head>

  <body class="h-dvh">
    <main class="h-full">
      <%= yield %>
    </main>
  </body>
</html>
